

body {
    background-color: rgb(231, 63, 181);
}

main {
    display: flex;
    flex-direction: column;

    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.container-letter {
    position: relative;
}

.cover {
    position: absolute;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 100px solid palevioletred;
    border-bottom: 100px solid transparent;

   /* */
    transition: transform .75s;
    transform-origin: top;
}
.paper{
    position: absolute;
    padding: 1.5rem;
    line-height: 1cap;

    z-index: -1;
    background: white;
    width: 350px;
    height: 150px;

    transition: all .75s;
}

.letter {

    border-left: 200px solid purple;
    border-right: 200px solid purple;
    border-top: 100px solid transparent;
    border-bottom: 100px solid palevioletred;
}
.options{
    display: flex;
    gap: 5rem;

   & button {
    color: #fe3334;
    font-weight: 600;
    border-radius: 3px;
    background: #fad7df;
    padding: 0.5rem 1rem;
    border: 1px solid #fe3334;
    cursor: pointer;

    }
    & button:hover{
        background: #ff989e;
        color: white;
    }
}
.open-cover{
    transform: rotatex(180deg);
}

.open-paper{
    
    animation: openPaper .5s forwards;
}

@keyframes openPaper {
    0%{
        top: 0px;
    }
    100%{
        top: -150px;
    }
}
.close-paper{
    
    animation: closePaper .5s forwards;
}

@keyframes closePaper {
    0%{
        top: -150px;
    }
    100%{
        top: 0px;
    }
}